@import "tailwindcss";
.main-image img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.description_main{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin: 20px 0;
}
.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-direction: col;
}
.cardEspecializaciones {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  width: 700px;
}

.cardEspecializaciones:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.cardEspecializaciones img {
  max-width: 150px;
  height: auto;
  padding: 30px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #2c3e50;
}

.card-content p {
  font-size: 0.95rem;
  color: #555;
}