@import "tailwindcss";
/* Estilos botones */
.primary_button,.secondary_button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    color: #ECEFF1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.primary_button {
    background-color: #DC143C;
}
.primary_button:hover {
    background-color: #c7154a;
}
.secondary_button {
    background-color: #004973;

}
.secondary_button:hover {
    background-color: #4682B4;
}
/* Estilos titulo y subtítulo */
.title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #DC143C;
    margin: 20px 0;
}
.subtitle{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #005F73;
    margin: 20px 0;
}