@import "tailwindcss";

table {
  border-collapse: collapse;
  width: 800px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}

thead {
  background-color: #eceff1;
}

th,
td {
  padding: 16px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }
}
