@import "tailwindcss";
.user_img {
  width: 100px;
  margin: 0 auto 20px auto;
  display: block;
}

.datos {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 30px;
  max-width: 500px;
  margin: 0 auto 30px auto;
}

.columna p {
  margin: 10px 0 20px 0;
  font-size: 16px;
}

.columna strong {
  display: block;
  font-weight: bold;
}

.edit_btn {
    margin: auto;
    display: block;
}
